{% extends 'e_shop1/base.html'  %}
{% load static %}

{% block content %}
<div class="hero-wrap hero-bread" style= background-color:#4a985a; >
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>About</span></p>
                <h1 class="mb-0 bread">About Us</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 py-5 wrap-about pb-md-5 ftco-animate">
                <div class="heading-section-bold mb-4 mt-md-5">
                    <div class="ml-md-0">
                        <h2 class="mb-4">Welcome to E-Shop</h2>
                    </div>
                </div>
                <div class="pb-md-5">
                    <p>E-Shop is a new upcoming eCommerce platform led by young and innovative team offering a diverse range of trendsetting fashion, premium quality products, and a seamless shopping experience.</p>
                    <p>Discover our carefully curated collections, enjoy exclusive deals, and benefit from exceptional customer care. Join us and indulge in the joy of online shopping!</p>
                </div>
                <div>
                    <h4>Our Team</h4>
                    <div class="row mt-4">
                        <div class="col-md-3 text-center">
                            <img src="{% static 'images/aisha.jpg' %}" alt="Aisha Nabahinda" class="img-fluid rounded-circle mb-3">
                            <h5>Aisha Nabahinda</h5>
                            <p>Managing Director</p>
                        </div>
                        <div class="col-md-3 text-center">
                            <img src="{% static 'images/otim.jpg' %}" alt="Otim Brian" class="img-fluid rounded-circle mb-3">
                            <h5>Otim Brian</h5>
                            <p>Software Developer</p>
                        </div>
                        <div class="col-md-3 text-center">
                            <img src="{% static 'images/stacy.png' %}" alt="Kukunda Stacy" class="img-fluid rounded-circle mb-3">
                            <h5>Kukunda Stacy</h5>
                            <p>Business Analyst and Front end developer</p>
                        </div>
                        <div class="col-md-3 text-center">
                            <img src="{% static 'images/edward.jpg' %}" alt="Ggayi Edward" class="img-fluid rounded-circle mb-3">
                            <h5>Ggayi Edward</h5>
                            <p>Project Manager and Back end Developer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
  .rounded-circle {
      width: 200px;
      height: 200px;
      object-fit: cover; /* Optional: Maintain aspect ratio and crop if needed */
      border-radius: 50%; /* Ensures the image is rendered as a circle */
  }
</style>
{% endblock %}
