{% extends 'e_shop1/base.html' %}

{% block title %}Categories{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<div class="hero-wrap hero-bread" style= background-color:#4a985a;>
	<div class="container">
	  <div class="row no-gutters slider-text align-items-center justify-content-center">
		<div class="col-md-9 ftco-animate text-center">
			<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'e_shop1:index' %}">Home</a></span> <span>Cart</span></p>
		  <h1 class="mb-0 bread">Cart</h1>
		</div>
	  </div>
	</div>
  </div>

 

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <hr>
    <br></br>
<section>
<div class="container rounded">
  <table id="cart" class="table table-hover table-condensed">
    <thead>
      <tr>
        <th style="width:50%">Product</th>
        <th style="width:10%">Price</th>
        <th style="width:8%">Quantity</th>
        <th style="width:22%" class="text-center">Subtotal</th>
        <th style="width:10%"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for item in items %}
        <td data-th="Product">
            
          <div class="row p-4">
            <div class="col-sm-2 hidden-xs"><img src="{{item.product.prodimage.url}}" style="height: 100px; width: 100px;" alt="..." class="img-responsive" /></div>
            <div class="col-sm-10">
              <h4 class="nomargin">{{item.product.item_name}}</h4>
              <p>{{item.product.description}}</p>
            </div>
          </div>
        </td>
        <td data-th="Price">UGX{{item.product.price}}</td>
        <td data-th="Quantity">
          {{item.quantity}}
        </td>
        <td data-th="Subtotal" class="text-center">UGX{{item.get_total}}</td>
        <td class="actions" data-th="">
          <button data-product="{{item.product.id}}" data-action="add" class="btn btn-info btn-sm update-cart"><i class="fa fa-plus"></i></button>
          <button data-product="{{item.product.id}}" class="btn btn-danger btn-sm update-cart" data-action="remove"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr class="visible-xs">
        <td class="text-center"><strong>Total items {{order.get_cart_items}}</strong></td>
      </tr>
      <tr>
        <td><a href="{% url 'e_shop1:products' %}" class="py-3" style="color: black; text-decoration: none; "><button   class="btn btn-primary text-light"> Continue Shopping</button></a></td>
        <td colspan="2" class="hidden-xs"></td>
        <td class="hidden-xs text-center"><strong>Total UGX {{order.get_cart_total}}</strong></td>
        <td><a href="{% url 'e_shop1:checkout' %}" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
      </tr>
    </tfoot>
  </table>
</div>
</div>

</section>


<br></br>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
{% endblock %}
