{% extends 'e_shop1/base.html'  %}

{% load static %}

{% block content %}

<div class="hero-wrap hero-bread" style= background-color:#4a985a;>
	<div class="container">
	  <div class="row no-gutters slider-text align-items-center justify-content-center">
		<div class="col-md-9 ftco-animate text-center">
			<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'e_shop1:index' %}">Home</a></span> <span>categories</span></p>
		  <h1 class="mb-0 bread">categories</h1>
		</div>
	  </div>
	</div>
  </div>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                {% for category in categories %}
                <a href="{%url 'e_shop1:category' category.id%}">
                <div class="col-md-6 col-lg-3 ftco-animate">
                    
                        <div class="product">
                            <a href="{%url 'e_shop1:category' category.id%}" class="img-prod"><img class="img-fluid" src="{{ category.catimage.url }}" alt="{{ category.name }}" style="width: 740px; aspect-ratio: auto 740 / 300; height: 300px;"></a>
                            <div class="overlay"></div>
                            <div class="text py-3 pb-4 px-3 text-center">
                                <h3><a href="{%url 'e_shop1:category' category.id%}">{{ category.name }}</a></h3>
                                <div class="d-flex"></div>
                            </div>
                        </div>
                    </div>
                    </a>
                    
                {% endfor %}
            </div>
        </div>
    </section>

</div>

{% endblock %}
