{% extends 'e_shop1/base.html' %}

{% load static %}

{% block content %}

<!-- Hero Section -->
<section class="hero-wrap hero-bread" style= background-color:#4a985a;>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Checkout</span></p>
        <h1 class="mb-0 bread">Checkout</h1>
      </div>
    </div>
  </div>
</section>

<!-- Billing Section -->
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-7 ftco-animate">
        <form action="#" class="billing-form">
          <h3 class="mb-4 billing-heading">Billing Details</h3>
          <div class="row align-items-end">
            <div class="col-md-6">
              <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="text" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="lastname">Last Name</label>
                <input type="text" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="country">State / Country</label>
                <div class="select-wrap">
                  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                  <select name="" id="" class="form-control">
                    <option value="">France</option>
                    <option value="">Italy</option>
                    <option value="">Philippines</option>
                    <option value="">South Korea</option>
                    <option value="">Hongkong</option>
                    <option value="">Uganda</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="streetaddress">Street Address</label>
                <input type="text" class="form-control" placeholder="House number and street name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Appartment, suite, unit etc: (optional)">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="towncity">Town / City</label>
                <input type="text" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="postcodezip">Postcode / ZIP *</label>
                <input type="text" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="emailaddress">Email Address</label>
                <input type="text" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group mt-4">
                <div class="radio">
                  <label class="mr-3"><input type="radio" name="optradio"> Create an Account? </label>
                  <label><input type="radio" name="optradio"> Ship to different address</label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-xl-5">
        <div class="row mt-5 pt-3">
          <div class="col-md-12 d-flex mb-5">
            <div class="cart-detail cart-total p-3 p-md-4">


						<table style="width:100%; font-size:12px; border-collapse: collapse; border: 1px solid #ddd; border-radius: 5px; overflow: hidden;">
							<thead>
							  <tr style="background-color: #f7f7f7;">
								<th style="width:20%; padding:5px; text-align:left; border-bottom: 1px solid #ddd;">Product</th>
								<th style="width:5%; padding:5px; text-align:right; border-bottom: 1px solid #ddd;">Price</th>
								<th style="width:4%; padding:5px; text-align:right; border-bottom: 1px solid #ddd;">Qty</th>
								<th style="width:10%; padding:5px; text-align:right; border-bottom: 1px solid #ddd;">Total</th>
							  </tr>
							</thead>
							<tbody>
							  {% for item in items %}
								<tr>
								  <td style="padding:5px; border-bottom: 1px solid #ddd;"><b>{{item.product.item_name}}</b> - {{item.product.name}}</td>
								  <td style="padding:5px; text-align:right; border-bottom: 1px solid #ddd;">UGX{{item.product.price}}</td>
								  <td style="padding:5px; text-align:right; border-bottom: 1px solid #ddd;">{{item.quantity}}</td>
								  <td style="padding:5px; text-align:right; border-bottom: 1px solid #ddd;">UGX{{item.get_total}}</td>
								</tr>
							  {% endfor %}
							</tbody>
							<tfoot>
							  <tr style="background-color: #f7f7f7;">
								<td colspan="3" style="text-align:right; padding:5px; border-top: 1px solid #ddd;"><strong>Total items {{order.get_cart_items}}</strong></td>
								<td style="text-align:right; padding:5px; border-top: 1px solid #ddd;"><strong>Total UGX {{order.get_cart_total}}</strong></td>
							  </tr>
							</tfoot>
						  </table>


	          			
								
	          	</div>
	          	<div class="col-md-12">
	          		<div class="cart-detail p-3 p-md-4">
	          			<h3 class="billing-heading mb-4">Payment Method</h3>
									<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
											   <label><input type="radio" name="optradio" class="mr-2"> Direct Bank Tranfer</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
											   <label><input type="radio" name="optradio" class="mr-2"> Check Payment</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
											   <label><input type="radio" name="optradio" class="mr-2"> Paypal</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
											<div class="checkbox">
											   <label><input type="checkbox" value="" class="mr-2"> I have read and accept the terms and conditions</label>
											</div>
										</div>
									</div>
									<p><a href="#"class="btn btn-primary py-3 px-4">Place an order</a></p>
								</div>
	          	</div>
	          </div>
          </div> <!-- .col-md-8 -->
        </div>
      </div>
    </section> <!-- .section -->


       

  </body>
</html>
{% endblock %}