{% extends 'e_shop1/base.html' %}

{% block content %}

<!-- Hero Section -->
<section id="home-section" class="hero">
  <div class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url('static/images/slider2.jpeg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
          <div class="col-md-12 ftco-animate text-center">
            <h1 class="mb-2">Shop with us at great discounted prices!</h1>
            <h2 class="subheading mb-4">Make it yours today!</h2>
            <p><a href="{% url 'e_shop1:products' %}" class="btn btn-primary">View Details</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="slider-item" style="background-image: url('static/images/slider0.jpeg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
          <div class="col-sm-12 ftco-animate text-center">
            <h1 class="mb-2">Goods of unparalleled authenticity</h1>
            <h2 class="subheading mb-4">The goods that meet your exact needs</h2>
            <p><a href="{% url 'e_shop1:products' %}" class="btn btn-primary">View Details</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="slider-item" style="background-image: url('static/images/supermarket.jpeg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
          <div class="col-sm-12 ftco-animate text-center">
            <h1 class="mb-2">Exclusive offers just for you!</h1>
            <h2 class="subheading mb-4">Check out the top-notch discounts just for you!.</h2>
            <p><a href="{% url 'e_shop1:products' %}" class="btn btn-primary">View Details</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END slider -->
<br></br>

{% endblock %}
