{% extends 'e_shop1/base.html'  %}


{% load static %}


<!--<div class="container">
 {% for message in messages%}
    <div class="col-sm-6 col-md-6">
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                ×</button>
            <span class="glyphicon glyphicon-record"></span> <strong>Warning Message</strong>
            <hr class="message-inner-separator">
            <p>
                Username or Password is incorrect
            </p>
        </div>
    </div>
{% endfor %}

</div>-->
