{% extends 'e_shop1/base.html' %}

{% load static %}

{% block content %}
    <!-- END nav -->
    <div class="hero-wrap hero-bread"  style= background-color:#4a985a;">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs">
                        <span class="mr-2"><a href="{% url 'e_shop1:products' %}">Home</a></span>
                        <span>Product Details</span>
                    </p>
                    <h1 class="mb-0 bread">Product Details</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 ftco-animate">
                    <img src="{{ product.prodimage.url }}" alt="{{ product.name }}"
                         class="img-fluid rounded shadow" style="width: 400px; height: 400px; object-fit: cover;">
                         <br></br><br></br><br></br> 
                    <div class="card text-bg-light mb-3" style="width: 400px;">
                            <div class="card-header">Product Reviews</div>
                            <div class="card-body">
                              <h5 class="card-title" style="color: burlywood;">Here is what the users have to say</h5>
<hr>
                              <p class="card-text" style="overflow-y: auto; height: 50px;">
                                <ul class="list-group list-group-flush" style="overflow-y: auto; height: 100px;" >
                                {% if reviews %}
                                {% for review in reviews%}
                                  <li class="list-group-item">
                                    {{review.text}}
                                    by {{review.user}}
                                  </li>
                                
                                {% endfor %}
                                {% else %}
                                No reviews yet! Be the first one to leave a review!
                                {% endif %}
                              </ul>
                              </p>
                             
                            </div>
                    </div>
                        
                            <br></br>
                            <div>
                            <p>
                                {% if user.is_authenticated %}
                                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Add a review</a>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Add a rating</button>
                                {% else %}
                                    <a class="btn btn-primary" href="{% url 'e_shop1:login' %}">Login to add a review or rating</a>
                                {% endif %}
                              </p>
                              <div class="row">
                                <div class="col">
                                  <div class="collapse multi-collapse" id="multiCollapseExample1">
                                    <div class="card card-body">
                                     <form action="{% url 'e_shop1:add review' product.id %}" method="POST">
                                        {% csrf_token %}
                                        <input type="text" name="review" required placeholder="Review">
                                        <br></br>
                                        <button type="submit" class="btn-primary">Submit</button>
                                     </form>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="collapse multi-collapse" id="multiCollapseExample2">
                                    <div class="card card-body">
                                      <form action="{% url 'e_shop1:add rating' product.id %}" method="POST">
                                        {% csrf_token %}
                                        <div class="rating">
                                          <form method="POST" action="{% url 'e_shop1:add rating' product.id %}">
                                            {% csrf_token %}
                                            
                                          <div class="rating">
                                            <input value="5" name="rate" id="star5" type="radio">
                                            <label title="text" for="star5"></label>
                                            <input value="4" name="rate" id="star4" type="radio">
                                            <label title="text" for="star4"></label>
                                            <input value="3" name="rate" id="star3" type="radio" checked="">
                                            <label title="text" for="star3"></label>
                                            <input value="2" name="rate" id="star2" type="radio">
                                            <label title="text" for="star2"></label>
                                            <input value="1" name="rate" id="star1" type="radio">
                                            <label title="text" for="star1"></label>
                                          </div>
                                          <button class="btn-primary" type="submit">Submit</button>
                                        </form>
                                          </div>
                    
                                     
                                    </div>
                                  </div>
                                </div>
                              </div>
                    </div>
                 </div>
                <div class="col-lg-6 product-details pl-md-5 ftco-animate">
                    <h3>{{ product.name }}</h3>
                    {% for i in rating_list %}
                    <svg xmlns="http://www.w3.org/2000/svg" height="14" width="15.75" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#FFD43B" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                    {% endfor %}
                    <p class="price"><span>UGX {{ product.price }}</span></p>
                    <p>{{ product.description }}</p>

                    {% if user.is_authenticated %}
                        <button class="update-cart btn btn-outline-success" type="button" value="" id="add-to-cart" data-product="{{product.id}}" data-action="add" class="btn btn-black py-3 px-5 add-to-cart">Add to Cart</button>
                    {% else %}
                        <a class="btn btn-outline-success" href="{% url 'e_shop1:login' %}">Login to Add to Cart</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample2">
            <a class="p-0" href="{% url 'e_shop1:productdetail' product.id %}"><button type="button" class="btn-close" data-bs-dismiss="collapse" aria-label="Close"></button></a>
          </div>
        </div>
    </section>

    <style>
    .rating:not(:checked) > input {
        position: absolute;
        appearance: none;
      }
      
      .rating:not(:checked) > label {
        float: right;
        cursor: pointer;
        font-size: 30px;
        color: #666;
      }
      
      .rating:not(:checked) > label:before {
        content: '★';
      }
      
      .rating > input:checked + label:hover,
      .rating > input:checked + label:hover ~ label,
      .rating > input:checked ~ label:hover,
      .rating > input:checked ~ label:hover ~ label,
      .rating > input:checked ~ label:hover ~ input:checked ~ label {
        color: #e58e09;
      }
      
      .rating:not(:checked) > label:hover,
      .rating:not(:checked) > label:hover ~ label {
        color: #ff9e0b;
      }
      
      .rating > input:checked ~ label {
        color: #ffa723;
      }
</style>     

{% endblock %}
