{% extends 'e_shop1/base.html' %}

{% load static %}

{% block title %}Products{% endblock %}

{% block content %}
<div class="hero-wrap hero-bread" style= background-color:#4a985a;>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'e_shop1:index' %}">Home</a></span> <span>Products</span></p>
                <h1 class="mb-0 bread">Available product</h1>
            </div>
        </div>
    </div>
</div>

  <section class="ftco-section">


    <div class="container">
      <div class="row">
        {% for product in products %}
        <div class="col-md-6 col-lg-3 ftco-animate">
          <div class="product">
            <img class="img-fluid" src="{{ product.prodimage.url }}" alt="{{ product.name }}" style="width: 740px; aspect-ratio: auto 740 / 300; height: 300px;">
            <div class="overlay"></div>
            <div class="text py-3 pb-4 px-3 text-center">
              <h3><a href="#">{{ product.name }}</a></h3>
              <div class="d-flex">
                <div class="pricing">
                  <p class="price">UGX {{ product.price }}</p>
                </div>
              </div>
              
              <div class="m-auto d-flex justify-content-between">
                {% if user.is_authenticated %}
                <button type="button" value="{{  product.id }}" class="update-cart btn btn-primary " data-product="{{product.id}}" id= "add-to-cart" data-action="add" >
                  <i class="ion-ios-cart"></i> Add to Cart
                </button>
                {% endif %}
                
                <a href="{% url 'e_shop1:productdetail' product.id %}">
                  <button class="btn btn-primary buy-now">
                    <i class="ion-ios-menu" ></i> View Details
                  </button>
                </a>
              </div>
  
            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>
    </div>
  </section>
{% endblock %}
