{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

  <div class="container-fluid">
    {% for message in messages%}
      
      <div class="row">
          <div class="col-xs-12">
            <div class="alert alert-warning alert-dismissible " role="alert" style="background-color: #F5F5DC;">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                      ×</button>
                <span class="glyphicon glyphicon-ok"></span> <strong>Warning Message</strong>
                  <hr class="message-inner-separator">
                  <p>
                      {{message}}</p>
              </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-shop login page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    

    <link href="{% static 'css/open-iconic-bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    
    <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
    

    <link href="{% static 'css/aos.css' %}" rel="stylesheet">

    <link href="{% static 'css/ionicons.min.css' %}" rel="stylesheet">
    
    <link href="{% static 'css/bootstrap-datepicker.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery.timepicker.css' %}" rel="stylesheet">
    
    <link href="{% static 'css/flaticon.css' %}" rel="stylesheet">
    <link href="{% static 'css/icomoon.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-- Add any necessary links to external stylesheets or scripts here -->
</head>

<body>
    <div class="page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8 signin">
                    <div class="form-container">

                        <form method="POST", action="">
                          <p class="h4 mb-4 text-center signintext top">
                            <strong>E-SHOP</strong>
                           
                          </p>
                          <p class="text-center signintext">Input your email, username and password to register </p>
                          
                            {% csrf_token %}
                            {{form.as_p}}




                            <a class="AlreadyHaveAccount" href="{% url 'e_shop1:login' %}">Already have an account? - Log in</a>
                            <button class="btn btn-info btn-block LoginBtn" type="submit">REGISTER</button>
                            
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
<style>
/* Add CSS styles here */
.row{

  margin-left: 2%;
  margin-right: 2%;
  margin-top:5%;
}
.page{

  width: 100%;
  height:auto;
  min-height:100vh;
  background-color:#c4ddc9a9;
  background-size: 100% 100%;
  background-position: top center;
  padding:10px;
}

.signintext{
margin-right:20%!important;
color:#969799;

}

.top{
color: #64C97D;
}

.btn{
  width: 30%;
  margin-top:5%;
  margin-bottom: 5%;
margin-left: 25%;

}

.ForgotPassBtn{
  background-color:white; 
  color:black;
  border-bottom: 1px solid #c7c5c5;
  padding-bottom: 3px;
  text-decoration: none!important;
  border-top-color: none;

}
.LoginBtn{
    border-radius: 25px;
    background-color:#64C97D;

    border:none;
}



.signupbtn{
  border-radius: 25px;
  width: 25%;
  margin:auto;
  background-image:url('static/images/loginbackgroundcolour.jpeg');
  border:solid 1px white;
  font-size: 10px;
}

form{
  padding: 0;
  margin-left: 15%;
}

.signin{
  background-color: white;
  padding: 2%;
  margin: auto;
}

.signup{
    background-image:url('static/images/loginbackgroundcolour.jpeg');
    padding: 2%;
}

.form-control{
  width: 80%;
  margin-bottom: 5%;
  margin-top: 5%;
  background-color: #ebe8e8;

}





.custom-control{
  margin-bottom: 2%;
} 

h2.HelloFriend{
  color:#fff !important;
  font-weight:200px;
  margin-top:30%;
  margin-bottom:10%;
}

.SignupText{
  color:#fff;
  margin-bottom:15%;
  font-size:16px;
  font-weight: 10px!important;
  font-family: Garamond;
}

@media only screen and (max-width: 600px) {
 row{


      margin-top: 5%;
      margin-left: 1%;
      margin-right: 1%;
  }    }

input, input:focus{
      border-width: 0px;
      outline:0;
      element-selector {
        -webkit-appearance: none;
          -moz-appearance: none;
                appearance: none;
  }        
}


.social-btn .btn {
  color: #fff;
      margin: 8px 0 0 30px;
  font-size: 15px;
     width: 45px;
  height: 40px;
  line-height: 25px;
      border-radius: 50%;
  font-weight: normal;
      text-align: center;
  border: solid 0.5px grey;
  transition: all 0.4s;
  }	
.social-btn .btn:first-child {
  margin-left: 0;
}
.social-btn .btn:hover {
  opacity: 0.8;
}

.social-btn .btn i {
  font-size: 20px;
}

.social-btn{
  margin-right: 20%;
  margin-bottom: 7%;
  margin-top: 5%;
}
</style>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/scrollax.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="{% static 'js/google-map.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    
</body>
</html>