{% extends 'e_shop1/base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="hero-wrap hero-bread" style= background-color:#4a985a;>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'e_shop1:index' %}"><E-SHOP></a></span> <span>Search</span></p>
                <h1 class="mb-0 bread">Search Results</h1>
            </div>
        </div>
    </div>
</div>


<section class="ftco-section">
  {% if products %}
      <div class="container">
          <div class="row">
              {% for product in products %}
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="product">
                          <img class="img-fluid" src="{{ product.prodimage.url }}" alt="{{ product.name }}" style="width: 740px; aspect-ratio: auto 740 / 300; height: 300px;">
                          <div class="overlay"></div>
                          <div class="text py-3 pb-4 px-3 text-center">
                              <h3><a href="#">{{ product.name }}</a></h3>
                              <div class="d-flex">
                                  <div class="pricing">
                                      <p class="price">UGX {{ product.price }}</p>
                                  </div>
                              </div>
                              <div class="m-auto d-flex justify-content-between">
                                  <button type="button" data-product="{{ product.id }}" class="btn btn-primary update-cart" dat-product="add">
                                      <i class="ion-ios-cart"></i> Add to Cart
                                  </button>
                                  <a href="{% url 'e_shop1:productdetail' product.id %}">
                                      <button class="btn btn-primary buy-now">
                                          <i class="ion-ios-menu"></i> View Details
                                      </button>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              {% endfor %}
          </div>
      </div>
  {% endif %}

  {% if categories %}
      <div class="container">
          <div class="row justify-content-center">
              {% for category in categories %}
                  <div class="col-md-6 col-lg-3 ftco-animate">
                      <div class="product">
                          <a href="{% url 'e_shop1:category' category.id %}" class="img-prod">
                              <img class="img-fluid" src="{{ category.catimage.url }}" alt="{{ category.name }}" style="width: 740px; aspect-ratio: auto 740 / 300; height: 300px;">
                          </a>
                          <div class="overlay"></div>
                          <div class="text py-3 pb-4 px-3 text-center">
                              <h3><a href="{% url 'e_shop1:category' category.id %}">{{ category.name }}</a></h3>
                              <div class="d-flex"></div>
                          </div>
                      </div>
                  </div>
              {% endfor %}
          </div>
      </div>
  {% endif %}

  {% if businesses %}
    <div class="container">
        <div class="row">
            {% for business in businesses %}
            <div class="col-md-6 col-lg-4 ftco-animate">
                <div class="product">
                    {% if business.businessimage %}
                    <a href="#" class="img-prod">
                        <img class="img-fluid" src="{{ business.businessimage.url }}" alt="{{ business.name }}" style="width: 725px; aspect-ratio: auto 725 / 380; height: 380px;">
                        <div class="overlay"></div>
                        <h3><a href="{% url 'business:business_detail' business.id %} ">{{ business.name }}</a></h3>
                        <p>{{ business.location }}</p>
                        <p>Contact: {{ business.contact }}</p>
                    </a>
                    {% else %}
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="{% url 'business:business_detail' business.id %} ">{{ business.name }}</a></h3>
                        <p>{{ business.location }}</p>
                        <p>Contact: {{ business.contact }}</p>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
  {% endif %}
</section>


{% endblock %}
