{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>

    <div class="container-fluid">
      {% for message in messages%}
      
      <div class="row">
          <div class="col-xs-12">
              <div class="alert alert-success">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                      ×</button>
                 <span class="glyphicon glyphicon-ok"></span> <strong>Success Message</strong>
                  <hr class="message-inner-separator">
                  <p>
                      {{message}}</p>
              </div>
          </div>
        </div>
      </div>
    </div>
        {% endfor %}
    <title>E-shop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    
    
    
    <link href="{% static 'css/open-iconic-bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    
    <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
    

    <link href="{% static 'css/aos.css' %}" rel="stylesheet">

    <link href="{% static 'css/ionicons.min.css' %}" rel="stylesheet">
    
    <link href="{% static 'css/bootstrap-datepicker.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery.timepicker.css' %}" rel="stylesheet">
    
    <link href="{% static 'css/flaticon.css' %}" rel="stylesheet">
    <link href="{% static 'css/icomoon.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
      <div class="container">
        <a class="navbar-brand" href="{% url 'e_shop1:index' %}">E-shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-menu"></span> Menu
        </button>
  
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a href="{% url 'e_shop1:index' %}" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Browse</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
                  {% if user.is_authenticated %}
                      <a class="dropdown-item" href="{% url 'business:register_business' %}">Register Business</a>
  
                      <a class="dropdown-item" href="{% url 'e_shop1:logout' %}">logout</a>  
                  {% else %}
                      <a class="dropdown-item" href="{% url 'e_shop1:login' %}">login</a>
                      <a class="dropdown-item" href="{% url 'e_shop1:register' %}">register</a>
                  {% endif %}
                
  
              <a class="dropdown-item" href="{% url 'e_shop1:cart' %}">Cart</a>
              <a class="dropdown-item" href="{% url 'e_shop1:checkout' %}">Checkout</a>
            </div>
            
          </li>
            <li class="nav-item"><a href="{% url 'e_shop1:about' %}" class="nav-link">About</a></li>
            <li class="nav-item"><a href="{% url 'e_shop1:products' %}" class="nav-link">Products</a></li>
            <li class="nav-item"><a href="{% url 'e_shop1:categories' %}" class="nav-link">Categories</a></li>
            <li class="nav-item"><a href="{% url 'business:business_list' %}" class="nav-link">Businesses</a></li>
            <li class="nav-item cta cta-colored"><a href="{% url 'e_shop1:cart' %}" class="nav-link"><span class="icon-shopping_cart"></span><span id="cart-quantity" >
              [{{request.user.customer.sum_cart}}]
  
            </span></a></li>
  
  
            <form class="d-flex" method="get" action="{% url 'e_shop1:search' %}">
              {% csrf_token %}
              
                  <input class="form-control me-0" type="text" name="query" placeholder="Search product, category, businesses..." aria-label="Search">
                  <button class="btn btn-outline-success" type="submit" >
                      <span class="icon-search"></span>
                
              </div>
          </form>
        
          </ul>
        </div>
      </div>
    </nav>
  </head>

      
      <body>

        <header class="d-flex flex-row bg-green rounded-top py-2 px-3" style="background-color: rgb(248, 246, 246);">

          <div class="w-1/4">  <img src="{{ business.business_image.url }}" alt="Business Image" class="img-fluid img-thumbnail rounded-square mx-auto d-block" style="width: 150px; height: 150px;">
          </div>
          <div class="flex-grow-1 ms-4">
            <h4>Business name: {{ business.name }}</h4>
            <h4>Location: {{ business.location }}</h4>
            <h4>Category: {{ business.category }}</h4>
          </div>
          
          {% with business=request.user.business %}
          <div class="ms-3">
            {% if show_edit_and_add_product %}
            <!-- <button type="button" class="btn btn-outline-grey">Edit profile</button> -->
            <a href="{% url 'business:registerproduct' %}" button type="button" class="btn btn-outline-grey">Add Product</a>
            {% endif %}
          </div>
          {% endwith %}
          
        </header>
                

              
        <div class="container p-4" style="margin-left: 0%;">
          <h3 class="lead fw-normal mb-1">About Business</h3>
          <div class="row">
            <div class="col-md-12">
              <p class="text-justify"> {{ business.description }} </p>
            </div>
          </div>
        </div>

        <div class="container p-4" style="margin-left: 0%;">
          <h2 class="lead fw-normal mb-1">Business Products</h2>
         
        </div>


        {% for product in products %} {% if product.business.id == business.id %}

            <div class="col-md-6 col-lg-3 ftco-animate">
              <div class="product">
                <img class="img-fluid" src="{{ product.prodimage.url }}" alt="{{ product.name }}"  style="width: 740px; aspect-ratio: auto 740 / 300; height: 300px;">
                <div class="overlay"></div>
                <div class="text py-3 pb-4 px-3 text-center">
                  <h3><a href="#">{{ product.name }}</a></h3>
                  <div class="d-flex">
                    <div class="pricing">
                      <p class="price">UGX {{ product.price }}</p>
                    </div>
                  </div>
                  
                  <div class="m-auto d-flex justify-content-between">
                    <button type="button" value="{{  product.id }}" class="update-cart btn btn-primary " data-product="{{product.id}}" id= "add-to-cart" data-action="add" >
                      <i class="ion-ios-cart"></i> Add to Cart
                    </button>
                    
                    <a href="{% url 'e_shop1:productdetail' product.id %}">
                      <button class="btn btn-primary buy-now">
                        <i class="ion-ios-menu"></i> View Details
                      </button>
                    </a>
                  </div>
      
                </div>
              </div>
            </div>
            {% endif %}{% endfor %}
          </div>
        </section>
        
        

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
        <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'js/aos.js' %}"></script>
        <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
        <script src="{% static 'js/scrollax.min.js' %}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
        <script src="{% static 'js/google-map.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/cart.js' %}"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
            

  </body>

</html>