{% extends 'e_shop1/base.html' %}

{% block title %}Businesses{% endblock %}

{% block content %}
<div class="hero-wrap hero-bread" style= background-color:#4a985a;>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'e_shop1:index' %}">E-SHOP</a></span> <span>Businesses</span></p>
                <h1 class="mb-0 bread">Available Businesses</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            {% for business in businesses %}
            <div class="col-md-6 col-lg-4 ftco-animate">
                <div class="product">
                    {% if business.business_image %}
                    <a href="#" class="img-prod">
                        <img class="img-fluid" src="{{ business.business_image.url }}" alt="{{ business.name }}" style="width: 725px; aspect-ratio: auto 725 / 380; height: 380px;">
                        <div class="overlay"></div>
                        <h3><a href="{% url 'business:business_detail' business.id %} ">{{ business.name }}</a></h3>
                        <p>{{ business.location }}</p>
                        <p>Contact: {{ business.contact }}</p>
                    </a>
                    {% else %}
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="{% url 'business:business_detail' business.id %} ">{{ business.name }}</a></h3>
                        <p>{{ business.location }}</p>
                        <p>Contact: {{ business.contact }}</p>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
